.obsidian/workspace.json
.obsidian/graph.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/styles.css
.obsidian/plugins/obsidian-linter/main.js
.obsidian/plugins/obsidian-linter/manifest.json
.obsidian/plugins/obsidian-linter/styles.css
.obsidian/plugins/obsidian-minimal-settings/data.sync-conflict-20240722-112909-367SKWL.json
.obsidian/plugins/obsidian-minimal-settings/main.js
.obsidian/plugins/obsidian-minimal-settings/manifest.json
.obsidian/plugins/obsidian-minimal-settings/styles.css
.obsidian/plugins/table-editor-obsidian/main.js
.obsidian/plugins/table-editor-obsidian/manifest.json
.obsidian/plugins/table-editor-obsidian/styles.css
